Options -Indexes

<FilesMatch "(^\.|\.env$|\.log$|\.sql$|\.ini$|composer\.(json|lock)$)">
    Require all denied
</FilesMatch>

RewriteEngine On
RewriteRule ^public/ - [L]
RewriteRule ^ public/index.php [QSA,L]
